<% provide(:title, "About") %>
<body class="gray">
  <div class="padding">
    <div class="center jumbotron jumbotron-about">
      <div class="container">
        <h1 class="right">About</h1><!-- take out class="right" to make look like rest -->
        <h2 class="right">
          "By the people, for the people." That's the tagline for empeopled.com. Empowered's is a bit more rough around the edges, "It's like Twitter, only crappier."
          It's intended to be a light-hearted way for me to give back to such a great community. Empowered started out as a Rails project but after I was about halfway through,
          I realized that this could be so much more. Empowered can be a way for those from Empeopled to post statuses and follow each other directly.
          Much like Twitter but without all the celebrity drama.<br><br>
          - Ralkkai<br><br>
          This project is forked from the <a href="http://www.railstutorial.org/"><em>Ruby on Rails
          Tutorial</em></a> book by<a href="https://github.com/mhartl/">Michael Hartl</a>.
        </h2>
      </div>
    </div>
  </div>
</body>
