<% provide(:title, 'Contact') %>
<body class="gray">
  <div class="padding">
    <div class="center jumbotron jumbotron-contact">
      <div class="container">  
      <h1 class="right">Contact</h1>
        <h2 class="right">
          If this ever becomes a full blown thing, I might turn this into an actual contact form with PayPAl donation funcitonality.<br>
          For now, if you need to hit me up for whatever reason, I'm usually in IRC and my username on both empeopled and reddit is Ralkkai.<br>
          I don't wnat to give out my personal email so I may set up a webmail server in the future.
        </h2>
      </div>  
    </div>
  </div>
</body>