<% provide(:title, "Help") %>

<body class="info">
  <div class="padding">
    <div class="center jumbotron jumbotron-help">
      <div class="container">
        <h1 class="right">Help</h1>
        <h2 class="right">
          This might be a thing someday.<br>
          I might consider embedding KiwiIRC into an iframe for easy chat access. For now, it's a page with this text on it<br><br>
          This is where my IRC would go, if I had one!
        </h2>
      </div>
    </div>
  </div>
</body>