<% provide(:title, "IRC") %>

<body class="irc-gray">
  <h1>#empeopled</h1>
    <div class="center">
      <div class="container">
        <iframe src="https://kiwiirc.com/client/irc.freenode.net/#empeopled" style="border:0; width:100%; height:650px;"></iframe>
      </div>
    </div>
  </div>
</body>