<footer>
  <div class="container">
    <small>
      <a href="https://github.com/AndroidHell/Kwikr/">Empowered</a>
      was created by <a href="https://github.com/AndroidHell/">Android Hell</a>
      | Copyright 2015, all rights reserved.
    </small>
    <nav>
      <ul>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><a href="http://androidhellblog.blogspot.com//">Blog</a></li>
      </ul>
    </nav>
  </div>
</footer>
